node_modules
.env
.DS_Store
.DS_Store
coverage/*
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/contributors.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.vscode/launch.json
example.js
